{% extends "base/main.html" %}

{% block body_attrs %}x-data="varapressDocs" x-cloak{% endblock body_attrs %}
{% block head_extra %}{% include "docs/head.html" %}{% endblock head_extra %}
{% block header %}{% include "docs/header.html" %}{% endblock header %}
{% block sidebar_bg %}{% include "docs/sidebar-bg.html" %}{% endblock sidebar_bg %}
{% block sidebar %}{% include "docs/sidebar.html" %}{% endblock sidebar %}
{% block main_content %}{% include "docs/content.html" %}{% endblock main_content %}
{% block toc %}{% include "docs/toc.html" %}{% endblock toc %}
{% block body_extra %}{% include "docs/body-extra.html" %}{% endblock body_extra %}
